@using Receptsamlingen.Mvc.Classes
@model Receptsamlingen.Mvc.Models.AddModel

<h1>Lägg in recept</h1>
@if (SessionHandler.User == null)
{
    <div class="InfoBox">
        <label class="ErrorText">Du kan bara lägga in recept om du har loggat in.</label>
    </div>
}
else
{
    <label class="Text">Receptnamn:</label>
    <br />
    @Html.TextBoxFor(model => model.NewRecipe.Name, new { @class = "LongTextBox" })
    <br />
    <br />
    <div class="FloatLeft MarginRight">
        <label class="Text">Kategori:</label>
        <br />
        @Html.DropDownListFor(model => model.CategorySelection, new SelectList(Model.Categories, "Id", "Name"), new { @class = "DropDownList" })
    </div>
    <div class="FloatLeft">
        <label class="Text">Huvudråvara:</label>
        <br />
        @Html.DropDownListFor(model => model.DishTypeSelection, new SelectList(Model.DishTypes, "Id", "Name"), new { @class = "DropDownList" })
    </div>
    <div class="ClearFix"></div>
    @*@Html.CheckBoxFor(model => model.NewRecipe.Special, new { @class = "Text" })
    <asp:checkboxlist id="specialCheckBoxList" runat="server" repeatdirection="Vertical" cssclass="Text" />*@
    <br />
    <label class="Text">Antal portioner:</label>
    <br />
    @Html.DropDownListFor(model => model.PortionSelection, new SelectList(Model.Portions, "Value", "Text"), new { @class = "DropDownList" })
    <br />
    <br />
    <label class="Text">Ingredienser:</label>
    <br />
    @Html.TextBoxFor(model => model.NewRecipe.Content, new { @class = "TextBox, MultilineTextBox" })
    <br />
    <br />
    <label class="Text">Beskrivning:</label>
    <br />
    @Html.TextBoxFor(model => model.NewRecipe.Description, new { @class = "TextBox, MultilineTextBox" })
    <div class="ClearFix">
        <!-- -->
    </div>
    <br />
    <br />
    using(Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    <input type="submit" value="Avbryt" class="Button FloatLeft" />
    }
    using(Html.BeginForm("Index", "Recipe", FormMethod.Post))
    {
    <input type="submit" value="Rensa" class="Button FloatLeft" />
    }
    using(Html.BeginForm("Save", "Recipe", FormMethod.Post))
    {
    <input type="submit" value="Spara!" class="Button FloatRight" />
    }
}