@using Receptsamlingen.Mvc.Classes
@using System.Web.Mvc
@model Receptsamlingen.Mvc.Models.RecipeModel

<h1>Lägg in recept</h1>
@if (SessionHandler.User == null)
{
    <div class="InfoBox">
        <label class="ErrorText">Du kan bara lägga in recept om du har loggat in.</label>
    </div>
}
else
{
    <label class="Text">Receptnamn:</label>
    <br />
    @Html.TextBoxFor(x => x.Recipe.Name, new { @class = "LongTextBox" })
    <br />
    <br />
    <div class="FloatLeft MarginRight">
        <label class="Text">Kategori:</label>
        <br />
        @Html.DropDownListFor(x => x.SelectedCategory, new SelectList(Model.CategoryList, "Value", "Text", Model.Recipe.CategoryId), new { @class = "DropDownList" })
    </div>
    <div class="FloatLeft">
        <label class="Text">Huvudråvara:</label>
        <br />
        @Html.DropDownListFor(x => x.SelectedDishType, new SelectList(Model.DishTypeList, "Value", "Text", Model.Recipe.DishTypeId), new { @class = "DropDownList" })
    </div>
	<div class="ClearFix"></div>
	<br/>
	<label class="Text">Special:</label>
	<br />
    @Html.CheckBoxListFor(x=>x.SpecialList, x => x.SpecialList, x=>x.Id, x=>x.Name, x=>x.SelectedSpecials)
	<br />
	<br/>
    <label class="Text">Antal portioner:</label>
    <br />
    @Html.DropDownListFor(x => x.SelectedPortions, new SelectList(Model.Portions, "Value", "Text"), new { @class = "DropDownList" })
    <br />
    <br />
    <label class="Text">Ingredienser:</label>
    <br />
    @Html.TextAreaFor(x => x.Recipe.Ingredients, new { @class = "TextBox, MultilineTextBox" })
    <br />
    <br />
    <label class="Text">Beskrivning:</label>
    <br />
    @Html.TextAreaFor(x => x.Recipe.Description, new { @class = "TextBox, MultilineTextBox" })
    <div class="ClearFix">
        <!-- -->
    </div>
    <br />
    <br />
    using(Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    <input type="submit" value="Avbryt" class="Button FloatLeft" />
    }
    using(Html.BeginForm("Index", "Recipe", FormMethod.Post))
    {
    <input type="submit" value="Rensa" class="Button FloatLeft" />
    }
    using(Html.BeginForm("Save", "Recipe", FormMethod.Post))
    {
    <input type="submit" value="Spara!" class="Button FloatRight" />
    }
}